Repository spineda1208/zenoo-rpc: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Update Codecov token and add test script
  .github/workflows/ci.yml
  scripts/upload_coverage.sh
  test_codecov.sh
Due: none

Update Codecov action to v5 with slug
  .github/workflows/ci.yml
Due: none

Update local scripts to use slug parameter
  scripts/upload_coverage.sh
  test_codecov.sh
Due: none

Fix all security issues identified by Bandit scan
  bandit-report-fixed.json
  src/zenoo_rpc/cache/backends.py
  src/zenoo_rpc/cache/decorators.py
  src/zenoo_rpc/client.py
  src/zenoo_rpc/query/builder.py
  src/zenoo_rpc/retry/strategies.py
  src/zenoo_rpc/transaction/context.py
Due: unit

Fix MkDocs strict mode warnings - Add comprehensive documentation
  docs/advanced/extending.md
  docs/api-reference/batch/context.md
  docs/api-reference/batch/executor.md
  docs/api-reference/manager.md
  docs/api-reference/transaction/acid.md
  docs/api-reference/transaction/exceptions.md
  docs/api-reference/transaction/nested.md
  docs/examples/integrations/celery-integration.md
  docs/examples/integrations/database-integration.md
  docs/examples/integrations/django-integration.md
  docs/examples/integrations/flask-integration.md
  docs/examples/patterns/advanced-patterns.md
  docs/examples/real-world/backup-restore.md
  docs/examples/real-world/data-sync.md
  docs/examples/real-world/django-integration.md
  docs/examples/real-world/ecommerce-integration.md
  docs/examples/real-world/etl-pipeline.md
  docs/examples/real-world/financial-reporting.md
  docs/examples/real-world/flask-integration.md
  docs/examples/real-world/inventory-management.md
  docs/examples/real-world/migration-scripts.md
  docs/examples/real-world/webhook-handlers.md
  docs/index.md
  mkdocs.yml
Due: none

🚀 Release v0.1.1: Production-ready with enhanced features
  CHANGELOG.md
  README.md
  pyproject.toml
  src/zenoo_rpc/__init__.py
  src/zenoo_rpc/client.py
  src/zenoo_rpc/exceptions/mapping.py
  src/zenoo_rpc/models/base.py
  src/zenoo_rpc/query/builder.py
  src/zenoo_rpc/transport/httpx_transport.py
Due: unit

📚 Update Quick Start section in README
  README.md
Due: none

🎉 Restore advanced ORM-style Quick Start
  README.md
Due: none

📚 Comprehensive documentation update
  docs/examples/index.md
  docs/getting-started/quickstart.md
  docs/index.md
  examples/advanced_orm.py
  examples/basic_usage.py
  examples/batch_operations.py
  examples/transactions.py
Due: none

docs: Fix documentation to showcase beautiful fluent API
  CHANGELOG.md
  docs/advanced/performance.md
  docs/api-reference/batch/context.md
  docs/api-reference/batch/executor.md
  docs/api-reference/batch/index.md
  docs/api-reference/batch/operations.md
  docs/api-reference/client.md
  docs/api-reference/exceptions/index.md
  docs/api-reference/index.md
  docs/api-reference/manager.md
  docs/api-reference/models/fields.md
  docs/api-reference/models/index.md
  docs/api-reference/models/relationships.md
  docs/api-reference/query/expressions.md
  docs/api-reference/query/filters.md
  docs/api-reference/query/index.md
  docs/api-reference/retry/index.md
  docs/api-reference/retry/policies.md
  docs/getting-started/installation.md
  pyproject.toml
  src/zenoo_rpc/__init__.py
  src/zenoo_rpc/models/common.py
  src/zenoo_rpc/models/relationships.py
  src/zenoo_rpc/query/builder.py
  src/zenoo_rpc/transport/__init__.py
  src/zenoo_rpc/transport/pool.py
  tests/test_phase3.py
  tests/transport/test_pool_health_monitor.py
  tests/transport/test_pool_shutdown.py
Due: unit, integration

docs: Update CHANGELOG.md for v0.1.8
  CHANGELOG.md
Due: none

🚀 Release v0.2.1: Full MCP Integration
  CHANGELOG.md
  README.md
  docs/ai-integration/ai-integration-proposal.md
  docs/architecture/analysis-summary.md
  docs/architecture/comprehensive-analysis.md
  pyproject.toml
  src/zenoo_rpc/__init__.py
  src/zenoo_rpc/mcp/__init__.py
  src/zenoo_rpc/mcp/client.py
  src/zenoo_rpc/mcp/exceptions.py
  src/zenoo_rpc/mcp/integration.py
  src/zenoo_rpc/mcp/manager.py
  src/zenoo_rpc/mcp/transport.py
  src/zenoo_rpc/mcp_server/__init__.py
  src/zenoo_rpc/mcp_server/cli.py
  src/zenoo_rpc/mcp_server/config.py
  src/zenoo_rpc/mcp_server/exceptions.py
  src/zenoo_rpc/mcp_server/security.py
  src/zenoo_rpc/mcp_server/server.py
  tests/performance/enhanced_redis_benchmark.py
  tests/test_enhanced_integration.py
  tests/test_mcp_basic.py
  tests/test_mcp_integration.py
Due: unit, integration

docs: Update Quick Start link in README.md to point to the latest version
  README.md
Due: none

🚀 Release v0.2.2: AI Features Improvements & Bug Fixes
  CHANGELOG.md
  pyproject.toml
  pyproject_poetry.toml
  src/zenoo_rpc/ai/__init__.py
  src/zenoo_rpc/ai/core/ai_assistant.py
  src/zenoo_rpc/ai/core/ai_client.py
  src/zenoo_rpc/ai/diagnostics/error_analyzer.py
  src/zenoo_rpc/ai/models/__init__.py
  src/zenoo_rpc/ai/models/model_generator.py
  src/zenoo_rpc/ai/query/nl_to_query.py
Due: unit

feat: Enhance MCP server with HTTP transport and resource handling improvements
  src/zenoo_rpc/mcp_server/server.py
Due: unit

feat: Update changelog and version to 0.2.3 with MCP server improvements and bug fixes
  CHANGELOG.md
  pyproject.toml
  src/zenoo_rpc/__init__.py
Due: unit

Release v0.2.4: Fix Issue #4 - Add HTTP/2 support with h2 dependency
  CHANGELOG.md
  README.md
  docs/getting-started/installation.md
  pyproject.toml
Due: none

fix: added aiohttp to dev deps
  pyproject.toml
Due: none

Path conditions:
  unit: any of: src/zenoo_rpc/
  integration: any of: tests/
